<h1>Корзина</h1>
<div id="card">
{{#if photo.length}} 
<table>
  <thead>
    <tr>
      <th>Назвение</th>
      <th>Изображение</th>
      <th>Количество</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {{#each photo}}
    <tr>
      <td>{{title}}</td>
      <td><img src="{{img}}" alt="{{title}}" class="img-incard"></td>
      <td>{{count}}</td>
      <td >
        <button class="btn btn-small red js-remove" data-id="{{id}}">Удалить</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p><strong>Итого:</strong> <span class="price">{{price}}</span></p>
{{else}}
<p>Ваша корзина пуста</p>
{{/if}}
</div>