
<h1 >Весь банк фотографий</h1>
<div class="row"></div>
<div class="input-field col">
  <input placeholder="Поиск" id="search" type="text" class="validate">
    <label for="first_name">Что поискать?</label>
</div>
</div>
{{#if photoes.length}}
{{#each photoes}}
  <div class="row">
    <div class="col s6 offset-s3 cards">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{img}}" alt="{{title}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{title}}</span>
          <p class="description" >{{description}}</p>
          <p class="price">{{price}}</p>

        </div>
        <div class="card-action actions">
          <a href="/photo/{{id}}" target="_blank">Подробнее</a>
          <a href="/photo/{{id}}/edit?allow=true" target="">Редактировать</a>
          <form action="/card/add" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <button class="btn waves-effect waves-ligh" type="submit">В КОРЗИНУ</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/each}}
{{else}}
<h2>Maybe Later...</h2>
{{/if}}